body{
    margin: 0;
    padding: 0;
}

.navigation {
    background-color: cornflowerblue;
    padding: 10px 0;
    margin:  0 216px;
    text-align: center;
}

.navigation > a {
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px;
    background-color: cornflowerblue;
}

.navigation > a:hover {
    background-color: darkcyan;
}

.components{
    margin: 0 216px;
    padding: 50px;
    background-color: deepskyblue;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}